body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    color: white;
    font-weight: 300;
    background-color: #2f363d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}

h1 {
    font-size: 26px;
    line-height: 1.8em;
    font-weight: 700
}

h2 {
    font-size: 24px;
    line-height: 1.8em;
    font-weight: 700
}

h3 {
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 500
}

h4 {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 500
}

h5 {
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 500
}

h6 {
    font-size: 14px;
    line-height: 1.5em
}

a {
    color: #005082;
    text-decoration: none;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none;
    outline: none
}

a:hover,
a:focus {
    text-decoration: none;
    color: #00a8cc
}

p {
    margin-bottom: 20px
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.btn {
    padding: 14px 30px 11px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
    border: 0;
    text-transform: uppercase
}

.btn-lg {
    font-weight: 700;
    font-size: 24px;
    padding: 15px 30px
}

.btn-primary {
    background-color: #ffc107
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background: #00a8cc
}

.btn-default {
    color: #2a54f5;
    background-color: transparent;
    border: 2px solid #2a54f5
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
    background: #2a54f5;
    color: #fff;
    border-color: #2a54f5
}

button:focus,
.btn:focus,
.btn:active:focus {
    outline: none
}

.columns-block {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 60px auto;
    padding: 0;
    box-shadow: 0 0 0 1px #eaeaea
}

.blocks {
    box-sizing: border-box
}

/*
.left-col-block {
    overflow: hidden;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    position: relative;
    background: rgba(255, 255, 255, .8);
    border-right: 1px solid rgba(234, 234, 234, .5)

}
*/
.left-col-block {
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    background-color: #24292e;
}

/*.right-col-block {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    position: relative;
    background: #fff
}*/
.right-col-block {
    width: 60%;
    position: absolute;
    right: 10%;
}

@media (max-width: 768px) {
    .columns-block {
        display: block;
        margin: 0;
        box-shadow: none
    }

    .left-col-block {
        width: 100%;
        position: relative;
        border: 0
    }

    .right-col-block {
        width: 100%;
        position: relative;
        box-shadow: none
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .columns-block {
        margin-top: 30px;
        margin-bottom: 30px
    }
}

.gray-bg {
    background-color: #f9f9f9
}

#main-wrapper {
    overflow: hidden
}

.section-wrapper {
    padding: 40px 50px 0;
}

@media (max-width: 480px) {
    .section-wrapper {
        padding: 30px 20px
    }
}

.section-title {
    margin-bottom: 15px
}

.section-title h2 {
    margin-bottom: 5px;
    color: white;
}

.header {
    padding: 20px !important;
    margin-left: 20px;
    position: relative
}

.header .profile-img {
    margin-bottom: 20px;
    width: 50%;
}

.header .content-wrapper {
}

.header .content {
    width: 100%;
    margin: 0 auto
}

.header .content h1 {
    line-height: 1;
    margin: 0 0 5px
}

.header .content .lead {
    font-size: 18px
}

.header .content .about-text {
    margin: 10px 0
}

.header .btn {
    margin-top: 40px
}

@media (max-width: 768px) {
    .header {
        padding: 0;
        text-align: center;
        border-bottom: 1px solid #ededed
    }

    .header img {
        margin: 0 auto
    }

    .header .content {
        padding: 50px
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.social-icon {
    margin: 20px 0;
    padding: 0;
    display: block
}

.social-icon li {
    display: inline-block;
    margin: 0 2px
}

.social-icon li a {
    display: block;
    font-size: 12px;
    width: 34px;
    height: 34px;
    line-height: 33px;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #eee;
    color: #ffd31d;
}

.social-icon li a:hover {
    border-color: #ccc;
    color: #f3c623;
}

.project-card {
    margin-bottom: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    height: 100%;
}

.expertise-item {
    margin-bottom: 20px
}

.expertise-item h3 {
    margin-bottom: 5px;
    font-weight: 700
}

.progress-item {
    position: relative
}

.progress-item .progress-title {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px
}

.progress-item .progress {
    height: 4px;
    box-shadow: none;
    border-radius: 5px
}

.progress-item .progress-bar {
    background-color: #ffc107;
    box-shadow: none;
    text-align: right
}

.progress-item .progress-percent {
    font-size: 10px;
    background-color: #313131;
    position: absolute;
    top: 5px;
    padding: 0 8px;
    border-radius: 3px
}

.progress-item .progress-percent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 6px solid #313131;
    border-right: 8px solid transparent
}

.portfolio-item {
    position: relative;
    display: block;
    margin-bottom: 30px;
    margin-right: 20px;
}

.portfolio-item .portfolio-thumb img {
    height: auto;
    display: block;
    max-width: 100%
}

.portfolio-item .portfolio-info {
    position: absolute;
    bottom: 0;
    padding: 30px 15px 5px;
    width: 100%;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%)
}

.portfolio-item .portfolio-info h3 {
    margin: 0;
    line-height: 1;
    color: #fff
}

.portfolio-item .portfolio-info small {
    color: #fff
}

.portfolio-item:hover .portfolio-info {
    background: -webkit-linear-gradient(top, transparent 0%, #000 100%)
}

.content-item {
    margin-bottom: 40px
}

.content-item h3 {
    margin: 0 0 10px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase
}

.content-item h4 {
    margin: 0;
    line-height: 1
}

.content-item small {
    color: #888
}

.feedback-form {
    margin-top: 50px
}

.form-control {
    height: 50px;
    padding: 0 20px;
    font-size: 13px;
    line-height: 50px;
    color: #969595;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box
}

.form-control:focus,
.form-control:active {
    box-shadow: none
}

.footer {
    padding: 30px 50px
}

.footer .copyright-section {
    font-size: 13px;
    color: #888
}

.footer .copyright-section .copytext {
    font-weight: 400;
    display: block
}

@media (max-width: 480px) {
    .footer {
        padding: 10px 20px
    }
}

.probootstrap-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
    height: 60px;
    z-index: 12;
    position: absolute;
    top: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.probootstrap-nav {
    margin-left: 60px;
    margin-top: 12px;
    text-align: left;
    float: right;
    position: relative;
}

.probootstrap-main-nav {
    margin: 0;
    padding: 0;
}

.probootstrap-main-nav li {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    display: inline;
    font-size: 18px;
}

.hover-grow {
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.repo-image {
    margin-right: 5px;
}

.card-text {
    color: black;
    font-size: 15px;
}